@import '@fontsource/outfit';
@import '@fontsource/roboto';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-color: #04152d;
}

body {
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  background-color: #04152d;
  min-height: 100vh;
}
